
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
img{
    max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif ;
   
}


.narbar{
    padding: 0;
}
.nav-link{
    color: black !important ;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    font-weight: 600;
}


ul.navbar-nav li a:hover{
    color:#0B249E !important;
}
.navbar-light .navbar-nav .nav-link.active {
    color:#0B249E !important;
}

/*  */

.dropdown-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  /*  */
 a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
} 

/* mui ten */
.dropdown-item-nh::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-item-nh{
    position: relative;;
}
ol, ul {
	list-style: none;
}


.sub-menu{
    display: none;
    position: absolute;
    left: 100%;
    background-color: white;
    min-width: 250px;
    top : 72%;
    padding: 10px;

} 

.sub-menu-1st:hover .sub-menu{
    display: block;
}



/*  */

.container-fluid{
    padding: 0;
}
#intro{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

#intro{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.intro-row{
    width: 70%;
}

.intro-row h3{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.intro-row h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.intro-col{
    display: flex;
    justify-content: space-around;

}
.intro-col .intro-card{
    width: 30%;
    padding: 18px;
    border: 1px solid #e1e0e0;
}
.intro-col  img{
    width: 100%;
    height: 230px;
}

.intro-col .intro-card p{
    text-align: justify;
    margin-top: 20px;
    line-height: 23px;
}

/* đky */

.container-1{
    background-image: url("");
    background-color: rgb(38, 38, 92);
  
    
}

.container-1 .header{
    /* border: 2px solid #ffeb3b; */
    border-radius: 0px 3px 0px 0px;
    
}
.list-item{
    font-size: 30px;
    list-style: none;
}
.list{
    justify-content: space-between;
    padding-right: 20%;
}
.box-img{
    margin-left: 400px;
}
.list_item-p{
    border-left: 5px solid white;
    padding-left: 15px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 75px;
    font-size: 70px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
}
.list-item p{
    padding-left: 50px;
    text-transform: uppercase;
}



.container-1 .header h5{
    color: white;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center; */
    /* border-style: solid; */
     
}
.header .text-warning{
    margin-left: 145px;
    margin-right: 120px;
    border-style: solid;
    border: 2px 2px 2px 2px;
    padding: 2% 5% 2% 5%;
    align-items: center;
    
}

.container-1 .content{

    border-radius: 3px 3px 3px 3px;
}

.container-1 .content .detail{

    margin: 1rem auto auto 3rem;
}

.container-1 .content .detail label{
    font-size: small; 
    margin: 10px auto 5px auto;  
    color: rgb(129, 129, 129);
}

.container-1 .content .detail label code{
    color: rgb(248, 7, 7);
}



.container-1 .content .detail .select select{
    width:1rem;
    height: 1.5rem;
}

.container-1 .content .detail .button a {
    text-decoration: none;
}

.container-1 .content .detail .button .save{
    margin: 5px 0px 0px 0px;
    padding: 5px 5px;
    background-color: #28A642;
    color: white;
    font-weight: 300;
    border-radius: 2px;
}

.container-1 .content .detail .button .delete{
    margin: 5px 0px 0px 5px;
    padding: 5px 7px;
    background-color: #FFBC08;
    border-radius: 2px;
    font-weight: 300;
}

.space{
    height: 100px;
}

.container-1 h3{
    color: white;
    padding: 10px  5px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    background-color: rgb(38, 38, 92);
    text-transform: uppercase;
    font-size: 28px;
    padding-left: 61px;
}


.abc.btn{
    color: white;
    background-color: #edb017;
    text-align: center;
  
}










/* Tập đoàn aptech */
.container-2{
    background-color: white;
    height: 250px;
    width: 1476px;
    color: black;
}
.container-2 .row{
    margin-top: 70px;
    margin-bottom: 70px;
}
.container-2 .row h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 54px;
    color: #0B249E;
    background-color:white;
    padding-left: 130px;
    text-decoration:  none solid rgb(11, 36, 158);
}
.container-2 .row h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    color: #000;
    padding-left: 120px;
    background-color: white;
    text-decoration:  none solid rgb(0, 0, 0);
}
.container-2 .row h4{
    font-size: 21px;
    color: #433F3F;
    font-style: italic;
    font-weight: 600;
    line-height: 31.5px;
    text-align: center;
    text-decoration:  none solid rgb(67, 63, 63);
    padding-right: 120px;
}

.container-2 .col-7 button{
    margin: 0px 250px 0px 270px;
}
.btn{
    color: white;
    background-color: green;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}


.container-2 .col-5{

    border-style: solid;
    border-width: 0px 3px 0px 0px;
    border-color: orange;
    transition: border 0.3s;
    border-radius: 0.3s;
    box-shadow:0.3s;
}

/* video */

.container-3{
    background-image: linear-gradient(180deg, #1936B4 0%, #129EBA 100%);
    width: 1476px;
    height: 600px;
    color: white;
}

.container-3 video{
    width: 560px;
    height: 300px;

    margin-top: 110px;
    margin-bottom: 70px;
    margin-left: 90px;
  
}
.container-3 .col-6 h2{
    height: 54px;
    width: 600px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
}
 .container-3 .col-6 h5{
    
    
    text-transform: uppercase;
}

.container-3 .col-6 .hk{
    display: flex;

    
}


.hk  .icon-holder{
    width: 75%;
    border-radius: 50%;
    border : white solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-3 .col-6 .hk .icon i{
    color: white;
    font-size: 68px;
    margin: 5px;
    
   
}





/* dam me */

.dame{
    color: #000;
    width: 1476px;
    height: 350px;
    background: white;
    text-align: center;
    margin-top: 150px;
   
}
.dame h4{
    margin: 10px 100px 10px 150px;
}
.dame h2{
    margin: 20px 100px 10px 150px;
}
.dame .cd{
    margin: 10px 100px 10px 150px;
}

/* lý do */

.lydo{
    width: 1476px;
    height: 1000px;
    background-image:linear-gradient( 180deg , #4A1BD4 0%, #17C2DC 100%);
    color: white;
}
.lydo h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.lydo .line{
    width: 200px;
    height: 3px;
    background-color: white;
    margin: 0 auto 20px ;
}


.lydo .boxcontainer .item{
    width: 40%;
}

.lydo .boxcontainer .item img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
    /* display: flex; */
}

.lydo .boxcontainer .so1{
    display: flex;
    border:1px solid #fff;
    border-radius: 10px; 
    
    margin-left: 150px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.lydo .boxcontainer .the{
    
    margin: 20px;
}
.lydo .boxcontainer .so2{
    display: flex;
    border:1px solid #fff;
    border-radius: 10px; 
    
    margin-left: 30px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.lydo .boxcontainer .so2 .p2{
    font-size: 17px;
}
.lydo .boxcontainer .the-1{
    text-align: center;
    margin: 30px 100px 30px 100px;
   
}

.the-1 button{
    height: 60px !important;
    width: 200px !important;
    border: white solid 1px;
}

/* thư mục */
.container-fluid1 .row{
   padding-left: 40px;

}
.cardFeature img {
    width:80x;
    
    vertical-align: middle;
}

.cardblog a {
    padding: 10px 20px 14px;
    background-color: #2575fc;
    text-align: center;
    transition: all .4s ease;
    border-radius: 10px;
    color: #fff !important;
    line-height: 1;
    margin-left: 50px;
}
.cardBlog a {
    background-color: #0350d2;
    width: 34px;
}
.container-fluid1 {
    padding-left: 60px;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none solid rgb(0,0,0);
    word-spacing: 0px;
    margin-top: 5px;

    
}
.container-fluid1 .col-sm-3{
    height: 349.563px;
    width: 327.5px;
    /* margin-left: 10px;  */
    padding: 0 15px 0 15px;
    min-height: auto;
    max-width: 28%;
    min-width: auto;
    
}




/* cuoi */


.container4{
    padding: 50px;
    color: white;
    /* width: 100%;
    height: 100%; */
    background-color: #0b249e;
    font-size: 19px;
    font-family: inherit;
    font-weight: bold;
    
}

.lt{
    color: white;
    text-decoration: none;
}
.lt:hover{
    color: white;
}
.container4 .row{
    margin-left: 100px;
}
input[type='text']{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline;
    border: none;
    background: whitesmoke;
}
#td{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline;
    border: none;
    background: whitesmoke;
}
.container4 .send {
    background-color: #edb017;
    color: #0a0a0a;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
